* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: #333;
}

body.no-scroll, html.no-scroll {
    overflow: hidden;
    height:100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

sup {
  top: -.3em;
}

br {
  font-family: none;
}

.clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// 自定义字体
@font-face {font-family: "LTCH";
  src: url('../fonts/LTCH.eot'); /* IE9*/
  src:
    url('../fonts/LTCH.eot?#font-spider') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/LTCH.woff') format('woff'), /* chrome、firefox */
    url('../fonts/LTCH.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/LTCH.svg#webfont') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}


.quick-nav {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #FFF;
  z-index: 100;
  display: none;
  border-bottom: 1px solid #DDD;
  opacity: 0.98;
  overflow: hidden;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  ul {
    float: left;
    font-size: .8em;
    line-height: 50px;
    list-style: none;
    margin: 0;
    display: inline-block;

    li {
      float: left;
      margin-right: 40px;

      a {
        color: #666;
      }
    }
  }

  .buy {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fbcb2e;
    color: #FFF;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 15px;
    font-size: 0.7em;
  }
}

.no-scroll {
  overflow: hidden;
}

.m-show {
  display: none;
}

.pc-show {
  display: unset;
}

.hide {
  display: none;
}

span.pc-show {
  display: inline;
}

.pc {
  min-width: 1200px;
}

.mobile-version {
  display: none;
}

@media (max-width: 1920px) {

}

@media (max-width: 1400px) {

}


@media (max-width: 768px) {
  body.mobile {
    font-size: 12px;
  }

  .mobile {
    .mobile-version {
      display: block;

      img {
        display: block;
        width: 100%;
      }
    }

    .m-show {
      display: unset;
    }

    .pc-show {
      display: none;
    }

    .quick-nav {

      ul {
        margin-left: 10px;
        font-size: 0.8rem;

        li {
          margin-right: 20px;
        }
      }

      .buy {
        font-size: 0.8rem;
      }
    }
  }
}

