@import '_var.scss';

#footer {
  position: relative;
  min-height: 60px;
  display: block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  text-align: center;
  background-color: $primary-color;

  .social {
    background-color: $primary-color;
    font-size: .6em;
    padding: 1em 0 0;

    a {
      margin: auto 20px;
      img {
        height: 25px;
      }
    }
  }

  p {
    background-color: $primary-color;
    display: block;
    line-height: 100% !important;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
    color: #f3f3f3;
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  .mobile {
    #footer{
      p {
        font-size: 12px !important;

        span {
          display: block;
          clear: both;
          line-height: 100%;
          padding-top: 20px;
        }
      }
    }
  }
}
