
#index {
  margin-top: 60px;
  height: 1000px;
}

.section {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
}


@media (max-width: 768px) {
  #home.mobile {
    .section {
      display: none;
    }

    .bg {
      background: none;
    }
  }

}
